<div class="card-wrapper">

  <mat-card class="container">
    <mat-card class="account">

      <h3>Current account:</h3>
      <h2>Cash: {{(cashOnHand).toLocaleString('de-CH')}}.-</h2>
      <h2>Bitcoin: {{bitcoinOwned}}</h2>
    </mat-card>
    <br>
    <h3>Market</h3>
    <p>Bitcoin Price in (CHF): {{(btcPrice.toLocaleString('de-CH'))}}.-</p>
    <p>Change: {{btcPriceChange.toFixed(2)}}</p>

    <mat-card-content>
      <h3>Orders:</h3>
      <ul>
        <li *ngFor="let currentTracsaction of currentTracsactions">You bought bitcoin for: {{ currentTracsaction }}.-</li>
      </ul>
    </mat-card-content>

    <mat-card-actions>
          <input 
          #addquantityinput
          type="text" 
          name="" 
          id=""
          (input)="onQuantity(addquantityinput.value)"
          placeholder="Quantity in BTC"
          >
      
          
          <input 
          #addamountinput
          type="text" 
          name="" 
          id="" 
          (input)="onInput(addamountinput.value)"
          placeholder="Amount in CHF"
          >
    
        <br>
        <button (click)="onBuy()">Buy</button>
    </mat-card-actions>


  </mat-card>

</div>